{:paths ["src" "resources"]
 :deps {com.cognitect.aws/api {:mvn/version "0.8.352"},
        com.cognitect.aws/endpoints {:mvn/version "1.1.11.636"}
        com.cognitect.aws/qldb {:mvn/version "746.2.533.0"
                                :aws/serviceFullName "Amazon QLDB"}
        com.cognitect.aws/qldb-session {:mvn/version "747.2.533.0"
                                        :aws/serviceFullName "Amazon QLDB Session"}
        software.amazon.qldb/amazon-qldb-driver-java {:mvn/version "1.0.1"}}}
